<?xml version="1.0" encoding="utf-8" ?>
<configuraton>
  <appSettings>
    <!-- Image Size Per Bar Code-->
    <add key="Bitmap_Height" value="95" />
    <add key="Bitmap_Width" value="120" />
    
    <!-- Size of Scannable Bar Code in Pixels -->
    <add key="Bar_Height" value="60" />
    
    <!-- Space Between Bar Codes When Coallated -->
    <add key="BarCode_Spacing" value="10" />
    
    <!-- Fonts -->
    <add key="Font_Family" value="Microsoft Sans Serif" />
    <add key="Font_Size" value="8.25" />
    
    <!-- Positioning -->
    <add key="Description_Start_Y" value="2" />
    <add key="Description_Start_X" value="0" />
    <add key="BarCode_Start_Y" value="17" />
    <add key="BarCode_Start_X" value="5" />
    <add key="GTIN_Start_Y" value="80" />
    <add key="GTIN_Start_X" value="5" />
    
    <!-- Colors -->
    <add key="Foreground_Color" value="Black" />
    <add key="Background_Color" value="White" />
  </appSettings>
</configuraton>