<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="HD_Version" value="VER02.40H"/>
    <add key="HD_Description" value="H/C CORRECTIVE MAINT"/>
    
    <add key="BuildQueryPath" value="ISP_Maint.sql"/>
    <add key="BaterrPath" value="BATERR.XML"/>
    
    <add key="LoggingEnabled" value="true"/>
    <add key="LogLocation" value=".\Logs"/>

    <add key="HOSTDNPath" value="HOSTDN.2.40.FMT" />
  </appSettings>
</configuration>